# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/

# Logs
logs/
*.log

# Environment files
.env
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
